@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/earlyaccess/notonastaliqurdu.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstamil.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskannada.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosansbengali.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosansoriya.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstelugu.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosansgujarati.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosansdevanagari.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosansgurmukhi.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosansmalayalam.css);

body{
	font-size:14px; 
	margin:0; 
	padding:0;
	font-family:'Noto Sans Malayalam','Noto Sans Gurmukhi','Noto Sans Devanagari','Noto Sans Gujarati', 'Noto Sans Telugu','Noto Nastaliq Urdu','Noto Sans Tamil','Noto Sans Kannada','Noto Sans Bengali','Noto Sans Oriya','Noto Sans';
}
.header{
	border-bottom: 1px solid #333;
	padding:10px;
	margin:0 0 10px 0;
}
.header-inner{
	max-width: 90%;
	margin: 0 auto;
	display: flex;
  align-items: center;
  justify-content: space-between;
}
h1{
	margin:0;
}
.content{
	max-width: 90%;
	margin: 0 auto;
}
.list-2{
	padding:0;
}
table{
	border-collapse: collapse;
	margin: 20px 0;
}
thead{
	background: #f0f6ff;
	font-weight: bold;
	text-align: center;
}
th,
td{
	border: 1px solid #666;
	padding:10px;
}

.content,
.content a,
.content a:hover,
.content a:focus{
	text-decoration: none;
	color: #333;
	font-size: 16px !important;
	cursor: text;
	pointer-events: inherit;
}
textarea{
	width: calc(100% - 20px);
	min-height: 100px;
	margin: 0;
	font-family: inherit;
	padding: 10px;
	max-width: 100%;
	font-size:16px;
}
.preview{
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 2px;
	background: #f9f9f9;
	min-height: 100px;
	font-size:16px;
}
.editor{
	margin: 30px 0 0 0 ;
}
.editor>div{
	padding: 10px;
}
@media screen and (min-width:768px){
	.editor{
		display:flex;
	}
	.editor>div{
		width:50%;
		position: relative;
	}
	select#mySelect{
		position: absolute;
		top: 35px;
		right: 10px;
	} 
}
