@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/earlyaccess/notosansbengali.css);
@font-face {
  font-family: 'ASOTBidisha';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ASOTBidisha_N_Ship.TTF) format('truetype');
}
@font-face {
  font-family: 'Sakal Bharti';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SakalBharati_N_Ship.ttf) format('truetype');
}
body{
	font-size:12px; 
	margin:0; 
	padding:0;
	font-family:'Noto Sans';
}
.container{
	max-width:1200px;
	width: 100%;
	margin: 0 auto;
}
table{
	border-collapse: collapse;
	margin: 20px 0;
}
thead{
	background: #f0f6ff;
	font-weight: bold;
	text-align: center;
}
td{
	border: 1px solid #666;
	padding:10px;
}
td:first-child{
	max-width:200px;
	background: #f0f6ff;
	font-family: monospace;
}
td.selected{
	background: yellow;
	font-size: 18px;
}
img{
	cursor: pointer;
	border: 3px solid red;
	padding: 3px;
	border-radius: 2px;
	width: 250px;
}
