 <nav>
   <ul class="mainmenu">
      <li><a href="/">Home</a></li>
      <li><a href="/demos/demo1/">Exp 1: Unicode</a></li>
			<li><a href="/demos/demo2/">Exp 2: Font download</a></li>
			<li><a href="/demos/demo3/">Exp 3: Font loading</a></li>
			<li><a href="/demos/demo4/">Exp 4: OS font support</a></li>
			<li><a href="/demos/demo5/">Exp 5: Flexbox in multilingual</a></li>
			<li><a href="/demos/tables/">Exp 6: Tables Demo</a></li>
			<li><a href="/demos/fonts/">Exp 7: Noto Fonts Demo</a></li>
   </ul>
 </nav>
 <link href="/assets/css/mainmenu.css" rel="stylesheet" type="text/css" />