<ion-header>
  <ion-toolbar>
    <ion-title>
      Experiment for Bengali and Assamese Language Issues
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<table>
	<thead>
		<tr>
			<td>Fonts Applied</td>
			<td>Text</td>
		</tr>
	</thead>
	<tbody>
		
		<!-- None -->
		<tr>
			<td>None</td>
			<td class="selected">প্ৰচাৰ মাধ্য়ম</td>
		</tr>
		<!-- /None -->
		
		<!-- Noto Sans Bengali -->
		<tr style="font-family:'Noto Sans Bengali'">
			<td>Noto Sans Bengali</td>
			<td class="selected">প্ৰচাৰ মাধ্য়ম</td>
		</tr>
		<!-- /Noto Sans Bengali -->
		
		<!-- ASOTBidisha -->
		<tr style="font-family:ASOTBidisha">
			<td>ASOTBidisha</td>
			<td class="selected">প্ৰচাৰ মাধ্য়ম</td>
		</tr>
		<!-- /ASOTBidisha -->
	
		
		<!-- Both Applied Simultaneously -->
		<tr style="font-family:'Sakal Bharti'">
			<td>Sakal Bharti</td>
			<td class="selected">প্ৰচাৰ মাধ্য়ম</td>
		</tr>
		<!-- /Both Applied Simultaneously -->
		
	</tbody>
	</table>
</ion-content>
