@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/earlyaccess/notonastaliqurdu.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstamil.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskannada.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosansbengali.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosansoriya.css);
@font-face {
  font-family: 'Sakal Bharti';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SakalBharati_N_Ship.ttf) format('truetype');
}
.container{
	max-width: 95%;
	margin: 0 auto;
}
.en{
	font-family: 'Noto Sans';
}
.hi{
	font-family: 'Noto Sans';
}
.ur{
	font-family: 'Noto Nastaliq Urdu';
}
.ti{
	font-family: 'Noto Sans Tamil';
}
.ka{
	font-family: 'Noto Sans Kannada';
}
.be{
	font-family: 'Noto Sans Bengali';
}
.pu{
	font-family: 'Noto Sans Punjabi';
}
.or{
	font-family: 'Noto Sans Oriya';
}
.all{
	font-family: 'Noto Sans Kannada','Noto Sans Tamil','Noto Nastaliq Urdu','Noto Sans Bengali','Noto Sans Oriya','Noto Sans';
}
.sakal{
	font-family: 'Sakal Bharti';
}
.m-0{
	margin: 0;
}
.m-5{
	margin: 5px;
}
.ml-100{
	margin-left: 100px;
}
.rtl .ml-100{
	margin-right: 100px;
	margin-left: unset;
}
.red{
	background:red;
}
.blue{
	background: blue;
	display:inline-block;
}
table{
	border-collapse: collapse;
	margin: 20px 0;
}
thead{
	background: #f0f6ff;
	font-weight: bold;
	text-align: center;
}
td{
	border: 1px solid #666;
	padding:10px;
}
td:first-child{
	max-width:200px;
	background: #f0f6ff;
	font-family: monospace;
}
td.selected{
	background: yellow;
}
code {
	font-family: monospace;
    background: #fff70045;
    padding: 3px 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
}
img{
	cursor: pointer;
	border: 3px solid red;
	padding: 3px;
	border-radius: 2px;
}
