body {
  background: #f5f5f5;
  position: relative;
}
.tablular {
  background: #fff;

}
.tabular-cover {
  width: 100%;
}
.tablular-row {
  display: inline-flex;
  flex-wrap: nowrap;
}
.tablular-row:hover .tablular-cell {
  background: #f5f5f5;
}
.tablular-row.selected .tablular-cell {
  background: #ddd;
}
.tablular-cell {
  padding: 10px 15px;
  border: 1px solid #ccc;
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}
.first-cell {
  position: sticky;
  left: 0;
  font-weight: bold;
  background: lightblue;
}
.tablular-header{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
}
.tablular-header .tablular-cell{
  background: yellow;
  font-weight: bold;
}

