// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
  font-family: 'ASOTBidisha';
  font-style: normal;
  font-weight: 400;
  src: url(assets/ASOTBidisha_N_Ship.TTF) format('truetype');
}
@font-face {
  font-family: 'Noto Sans Bengali';
  font-style: normal;
  font-weight: 400;
  src: url(assets/NotoSansBengali-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Sakal Bharti';
  font-style: normal;
  font-weight: 400;
  src: url(assets/SakalBharati_N_Ship.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(assets/NotoSans-Regular.ttf) format('truetype');
}


body{
	font-size:12px; 
	margin:0; 
	padding:0;
	font-family:'Noto Sans';
}

table{
	border-collapse: collapse;
	margin-top: 40px !important;
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
}
thead{
	background: #f0f6ff;
	font-weight: bold;
	text-align: center;
}
td{
	border: 1px solid #666;
	padding:10px;
}
td:first-child{
	max-width:200px;
	background: #f0f6ff;
	font-family: monospace;
}
td.selected{
	background: yellow;
	font-size: 18px;
}


img{width:250px;}
