@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/earlyaccess/notonastaliqurdu.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstamil.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskannada.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosansbengali.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosansoriya.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstelugu.css);

body{
	font-size:14px; 
	margin:0; 
	padding:0;
	font-family: 'Noto Sans Telugu','Noto Nastaliq Urdu','Noto Sans Tamil','Noto Sans Kannada','Noto Sans Bengali','Noto Sans Punjabi','Noto Sans Oriya','Noto Sans';
}
.header{
	background: ghostwhite;
}
.content{
	max-width: 90%;
	margin: 0 auto;
}
.list{
	max-width: 90%;
	margin: 0 auto;
	list-style: none;
	padding:10px;
	display: flex;
	overflow-x: auto;
}
hr{
	margin:0;
}
.list li{
	margin: 0 30px 0 0;
}
.list-2{
	padding:0;
}
hr{
	clear: both;
}
table{
	border-collapse: collapse;
	margin: 20px 0;
}
thead{
	background: #f0f6ff;
	font-weight: bold;
	text-align: center;
}
td{
	border: 1px solid #666;
	padding:10px;
}

.content,
.content a,
.content a:hover,
.content a:focus{
	text-decoration: none;
	color: #333;
	font-size: 14px !important;
	cursor: text;
	pointer-events: inherit;
}
textarea{
	width: 99%;
	min-height: 100px;
	margin: 30px 0;
	font-family: inherit;
}
.preview{
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 2px;
  background: #f9f9f9;
}