<div>

  <mat-toolbar color="primary">

    <img class="ui fluid image" height="60px" src="https://dev.open-sunbird.org/assets/images/sunbird_logo.png"
      width="90px" style="margin-right: 20px;">

    <span class="navbar-spacer"></span>

    <div fxShow="true" fxHide.lt-md="true" fxLayoutAlign="end center">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <a href="#" mat-button>Signup</a>

      <a href="#" mat-button>Login</a>

    </div>

    <div fxShow="true" fxHide.gt-sm="true">

      <a href="#" (click)="sidenav.toggle()">Show Side Menu</a>

    </div>

  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav #sidenav fxLayout="column">

      <div fxLayout="column">

        <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>

        <a href="#" mat-button>Menu Item 1</a>

        <a href="#" mat-button>Menu Item 2</a>

        <a href="#" mat-button>Menu Item 3</a>

        <a href="#" mat-button>Menu Item 4</a>

        <a href="#" mat-button>Menu Item 5</a>

        <a href="#" mat-button>Menu Item 6</a>

      </div>

    </mat-sidenav>

    <mat-sidenav-content fxLayout="column">
      <div fxLayout="row" fxFlex="100%">
        <div fxFlex="100%">
          <mat-card>
            <div fxLayout="row" fxLayoutGap="20px" fxFlexOffset="5%" fxFlex="86%">
              <img class="ui fluid image" src="https://dev.open-sunbird.org/assets/images/landingPage.jpg" width="546px" height="290px">
              <div class="ui left aligned container landing-page-description">
                <p>In 2000, ten years later, the international community met again at the World Education Forum in Dakar, Senegal,
                  an event which drew 1100 participants.The forum took stock of the fact that many countries were far from
                  having reached the goals established at the World Conference on Education for All in 1990.</p>
                <p class="mt-0">The participants agreed on the Dakar Framework for Action which re-affirmed their commitment to achieving
                  Education for All by the year 2015, and identified six key measurable education goals which aim to meet
                  the learning needs of all children, youth and adults by 2015.</p>
                <br>
                <a class="expand-or-minimize">Read More &gt; </a>
              </div>
            </div>
          </mat-card>
        </div>
      </div>

      <div fxLayout="row" fxFlexOffset="7%" fxFlex="75%" class="mt-0">
        <div fxFlexOffset="7%" fxFlex="61%" class="mt-1" fxLayoutGap="20px">
          <mat-card fxLayoutGap="20px" class="mr-20">
            <div class="header">
              <span class="mat-title">Featured Articles</span>
              <a class="expand-or-minimize right-float">View All</a>
            </div>
            <div fxLayout="row" fxLayoutGap="20px" fxFill fxLayoutAlign="space-between end" class="mt-1">
              <div fxFlex="50%">
                <mat-card>
                  <mat-card-content class="mat-card-content" class="height-100"></mat-card-content>
                  <mat-card-actions class="mat-card-actions">
                    <h4 class="article-header-padding">Enrollment info for life skill training</h4>
                  </mat-card-actions>
                </mat-card>
              </div>
              <div fxFlex="50%">
                <mat-card>
                  <mat-card-content class="mat-card-content" class="height-100"></mat-card-content>
                  <mat-card-actions class="mat-card-actions">
                    <h4 class="article-header-padding">Polytechnics information june 2017</h4>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="20px" fxFill fxLayoutAlign="space-between end" class="mt-1">
              <div fxFlex="50%">
                <mat-card>
                  <mat-card-content class="mat-card-content" class="height-100"></mat-card-content>
                  <mat-card-actions class="mat-card-actions">
                    <h4 class="article-header-padding">Academic inspection formats</h4>
                  </mat-card-actions>
                </mat-card>
              </div>
              <div fxFlex="50%">
                <mat-card>
                  <mat-card-content class="mat-card-content" class="height-100"></mat-card-content>
                  <mat-card-actions class="mat-card-actions">
                    <h4 class="article-header-padding">ABC initiatives in practice</h4>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </mat-card>
        </div>
        <div fxFlex="25%" class="mt-1">
          <mat-card>
            <div class="header segment-heading">
              <span class="mat-title">Announcements</span>
              <a class="right-float expand-or-minimize">View All</a>
            </div>
            <div class="content">
              <a class="expand-or-minimize text-decoration-underline">Exam Date Announced </a>
              <br>
            </div>
            <mat-list>
              <mat-list-item>
                <p class="font-size-4 pl-0">An excellent polish restaurant, quick delivery and hearty, filling meals.</p>
              </mat-list-item>
            </mat-list>
          </mat-card>
          <mat-card class="mt-1">
            <div class="header segment-heading">
              <span class="mat-title">Calendar</span>
              <a class="right-float expand-or-minimize">View All</a>
            </div>
          </mat-card>
        </div>
      </div>

    </mat-sidenav-content>


  </mat-sidenav-container>

</div>