---
layout: lang
---
<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
  <base href="/demos/fonts/">
  <link href="/demos/fonts/common.css" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <title>{{page.title}}</title>
</head>
<body>
  	{% include sidebar.html %}
  <div class="header">
    <div class="header-inner">
      <h1>{{page.title}}</h1>
      <div class="langswitcher">
          Select :  
          <select class="" id="LanguageSwitcher">
            <option value="assamese/">Assamese</option>
            <option value="bengali/">Bengali</option>
            <option value="english/">English</option>
            <option value="gujarati/">Gujarati</option>
            <option value="hindi/">Hindi</option>
            <option value="kannada/">Kannada</option>
            <option value="malayalam/">Malayalam</option>
            <option value="marathi/">Marathi</option>
            <option value="oriya/">Oriya</option>
            <option value="punjabi/">Punjabi</option>
            <option value="tamil/">Tamil</option>
            <option value="telugu/">Telugu</option>
            <option value="urdu/">Urdu</option>
            <option value="freehand/">Freehand</option>
          </select>
      </div>
      
      <script>
      currentUrl = window.location.pathname;
      currentFile = currentUrl.replace("/common/","");
      document.getElementById("LanguageSwitcher").value = currentFile;
      $('#LanguageSwitcher').on('change', function () {
        var yLanguageSwitcher = document.getElementById("LanguageSwitcher").options;
        var xLanguageSwitcher = document.getElementById("LanguageSwitcher").selectedIndex;
        var switchPath = yLanguageSwitcher[xLanguageSwitcher].value;
        updatedUrl = currentUrl.replace(currentFile,switchPath);
        window.location = updatedUrl; 
      });
      </script>
    </div>
  </div>
  <div class="content">
    {{ content }}
  </div>
</body>
</html>