---
layout: lang
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<link href="common.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
  <div>
    <ul class="list">
      <li><a href="assamese.html">Assamese</a></li>
      <li><a href="bengali.html">Bengali</a></li>
      <li><a href="english.html">English</a></li>
      <li><a href="hindi.html">Hindi</a></li>
      <li><a href="kannada.html">Kannada</a></li>
      <li><a href="oriya.html">Oriya</a></li>
      <li><a href="tamil.html">Tamil</a></li>
      <li><a href="telugu.html">Telugu</a></li>
      <li><a href="urdu.html">Urdu</a></li>
    </ul>
    <hr>
  </div>
  <div class="content">
    {{ content }}
  </div>
</div>
</body>
</html>