---
title: Experiment to show font file is not downloaded if it is not used in html
---
<!DOCTYPE html>
<html>
		<head>
				{% include head.html %}
				<link href="/assets/css/demo3.css" rel="stylesheet" type="text/css" />
			</head>
<body>
		{% include sidebar.html %}
<div class="container">
	<h2>Experiment to show font file is not downloaded if it is not used in html</h2>
	<table>
	<thead>
		<tr>
			<td>English</td>
			<td>Hindi</td>
			<td>Urdu</td>
			<td>Tamil</td>
			<td>Kannada</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="en">This is a sentence</td>
			<td class="hi">यह एक वाक्य है।</td>
			<td class="ur">یہ ایک جملہ ہ</td>
			<td class="ta">இது ஒரு தண்டனை. </td>
			<td class="selected" id="testId">ಇದು ಒಂದು ವಾಕ್ಯ</td>
		</tr>
	</tbody>
	</table>
	<p><strong>Note : </strong> Inside the css file - English, Hindi, Urdu, Tamil, Telugu and Kannada (Total 6 ) fonts are declared and even their classes have been created. But since some of the classes are not used anywhere inside html file, their fonts files are not downloaded. Observe in network tab, fonts for telugu and kannada were not downloaded even though they are declared in CSS file.</p>
	<p><strong>Moral of the story is </strong>- We can declare multiple fonts in a single CSS file. Fonts files will be downloaded only if it is used somewhere in the html.</p>
	<p>Open tab and then click above button and then observe network tab. After clicking this Kannada font is downloaded as <strong>ka</strong> class is added to the last column (Yellow cell).</p>
	<button onclick="addFont();">Click this and check network tab</button>
	<script>
		function addFont(){
			var element = document.getElementById("testId");
			element.classList.add("ka");
		}
	</script>
</div>
</body>
</html>

