---
title: Experiment for Bengali and Assamese Language Issues.
---
<!DOCTYPE html>
<html>
		<head>
				{% include head.html %}
				<link href="/assets/css/demo4.css" rel="stylesheet" type="text/css" />
			</head>
<body>
		{% include sidebar.html %}
<div class="container">
	<h2>Experiment for Bengali and Assamese Language Issues</h2>
	<table>
	<thead>
		<tr>
			<td>Fonts Applied</td>
			<td>Text</td>
			<td>Windows screenshot</td>
			<td>Ubuntu screenshot</td>
			<td>Android screenshot</td>
		</tr>
	</thead>
	<tbody>
		
		<!-- None -->
		<tr>
			<td>None</td>
			<td class="selected">প্ৰচাৰ মাধ্য়ম</td>
			<td rowspan="4"><img src="/assets/images/windows.png"></td>
			<td rowspan="4"><img src="/assets/images/ubuntu.png"></td>
			<td rowspan="4"><img src="/assets/images/android.png"></td>
		</tr>
		<!-- /None -->
		
		<!-- Noto Sans Bengali -->
		<tr style="font-family:'Noto Sans Bengali'">
			<td>Noto Sans Bengali</td>
			<td class="selected">প্ৰচাৰ মাধ্য়ম</td>
		</tr>
		<!-- /Noto Sans Bengali -->
		
		<!-- ASOTBidisha -->
		<tr style="font-family:ASOTBidisha">
			<td>ASOTBidisha</td>
			<td class="selected">প্ৰচাৰ মাধ্য়ম</td>
		</tr>
		<!-- /ASOTBidisha -->
	
		
		<!-- Both Applied Simultaneously -->
		<tr style="font-family:'Sakal Bharti'">
			<td>Sakal Bharti</td>
			<td class="selected">প্ৰচাৰ মাধ্য়ম</td>
		</tr>
		<!-- /Both Applied Simultaneously -->
		
	</tbody>
	</table>
</div>
</body>
</html>

